/*global structure of page resetting rules for boxes*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* page layout colors & Font*/
body {
    background-color: #becaca;
    font-family: Arial, Helvetica, sans-serif;
    
        
    

}

/* format of header banner and associate elements*/
.header {
   font-family:sans-serif;
   font-size:xx-large;
   padding-top:0mm;
   border-style:solid;
   border-width: 50px;
   border: right 75%

   
 
}

.name {

 background-color: lightseagreen;
 border-width: 50px;
 border-right-width: 50%;

 
}


/*Client's name on banner*/

.h2 {
    color: #13293d;



}

/* menu bar*/
.header nav {
    
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30x;


}

.header nav ul {
    list-style-type:none;
    float: left;

}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color:lightseagreen;
    text-decoration:lightseagreen
    

}

/* Hero styling banner*/
.hero {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./Portofolio-Portals/images/067F48BA-DD1A-4E2B-9C5A-B05B6A5E0A24_4_5005_c.jpeg");
    background-size: cover;
    background-position: center;

   
}

.AboutMe {

    margin-left: 300px;
    width: 75%;
    margin-inline-end: auto;
    border-left: 2px solid rgb(51, 54, 59);
    padding: 20px;
    color: rgb(59, 57, 57);
}
    
.MyWork {

margin-left:  300px;
border-style: double;
border:rgb(32, 243, 67);
padding-left: 30px;
border-width: medium;
}



.contactMe {

 margin-left: 300px;

}


 
    



.projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    background: #48494b;
    color: antiquewhite;
    margin-left: 300px;
    

  }
  

  .cardHeader {
    padding: 30px;
    background: #13293d;
    color: #fff;
  }
  
  .cardImg {
    width: 100%;
    min-width: 400px;

}



/*Aside bar*/
.sidebar {

    margin-left: 0px;
    

    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bdd6e4;
}

   


    /* The footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}





